#title {
    background-color: #ff4c68;
    color: #fff;
}

body {
    font-family: "Montserrat";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat-Bold';
}

h2 {
    font-size: 3rem !important;
    line-height: 1.5;
}

h3 {
    font-weight: bold !important;
}

p {
    color: #8f8f8f;
}

.big-head {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem !important;
    line-height: 1.5;
    font-weight: bold !important;
}

.container-fluid {
    padding: 3% 15% 10% !important;
}


/*navbar section*/

.navbar {
    padding-bottom: 4.5rem!important;
    padding-top: 0% !important;
    padding-left: 0% !important;
    padding-right: 0% !important;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem !important;
}

.navbar-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Momtserrat-light";
}

.download-btn {
    margin: 5% 3% 5% 0%;
}

.title-img {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}


/*features section*/

#features {
    padding: 7% 15%;
    background-color: #fff;
    z-index: 1 !important;
    position: relative;
}

.feature-box {
    text-align: center;
    padding: 5% !important;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}


/*testimonial section*/

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-text {
    font-size: 3 rem;
    line-height: 1.5;
}


/*press section*/

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}


/*pricing section*/

#pricing {
    padding: 100px;
    text-align: center;
}

.price-h2 {
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-col {
    padding: 3% 2%;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}


/*media query*/

@media (max-width:1028px) {
    #title {
        text-align: center;
    }
    .title-img {
        position: static;
        transform: rotate(0);
    }
}


/*cta section*/

#cta {
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
}

.cta-headin {
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
}

.cta-btn {
    margin: 5% 3% 5% 0%;
}


/*footer section*/

#footer {
    padding: 7% 15%;
    text-align: center;
}

.social-icon {
    margin: 20px 10px;
}

.footer-link {
    color: black;
}